<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>Controls: <button id="generatePreview">Preview</button></div>
    <textarea id="editor"></textarea>
    <script src="./index.js"></script>
</body>

</html>