<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        textarea {
            width: 98vw;
            height: 95vh;
            position: fixed;
            top: 5vh;
            left: 0;
        }
    </style>
</head>

<body>
    <div>Controls: <button id="generatePreview">Preview</button></div>
    <textarea id="editor"></textarea>
    <script src="./index.js"></script>
</body>

</html>